<div class="my-top-container">
        <a class="my-top-link" href="/logout">Logout</a>
        <a class="my-top-link" href="/users/find">Home</a>
</div>
<div class="my-ctnr container">
        <div >
                <a class="my-link btn btn-primary" href="/dog/saved">Back to Saved Dogs</a>
        </div>

    
    <div class="row">
            <div class="col-xl-6">
                <img class="img-fluid my-img" src="<%= @dog['url'] %>" alt="picture of dog">
            </div>
            <div class="col-xl-6">
                <span class="my-text"><%= @dog['breeds'][0]['name'] %></span>
                <span class="my-text">Weight: <%= @dog['breeds'][0]['weight']['imperial'] %></span>
                <span class="my-text">Height: <%= @dog['breeds'][0]['height']['imperial'] %></span>
                <span class="my-text">Life Span: <%= @dog['breeds'][0]['life_span'] %></span>
                <span class="my-text">Breed Group: <%= @dog['breeds'][0]['breed_group'] %></span>
            </div>
    </div>
   
</div>